<!DOCTYPE html>
<html lang="en_US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<!-- SEO -->
	<!-- Primary Meta Tags -->
	{{!-- <title>{{meta.docTitle}}</title>
	<meta name="title" content='{{meta.title}}' />
	<meta name="description" content='{{meta.description}}' />
	<meta name="keywords" content='{{meta.keywords}}' />
	<meta name="web_author" content='{{meta.webAuthor}}' /> --}}
	<!-- Open Graph / Facebook -->
	{{!-- <meta property="og:type" content='{{meta.og.type}}' />
	<meta property="og:url" content='{{meta.og.url}}' />
	<meta property="og:title" content='{{meta.og.title}}' />
	<meta property="og:description" content='{{meta.og.description}}' />
	<meta property="og:image" content='{{meta.og.image}}' /> --}}
	<!-- Twitter -->
	{{!-- <meta property="twitter:card" content='{{meta.twitter.card}}' />
	<meta property="twitter:url" content='{{meta.twitter.url}}' />
	<meta property="twitter:title" content='{{meta.twitter.title}}' />
	<meta property="twitter:description" content='{{meta.twitter.description}}' />
	<meta property="twitter:image" content='{{meta.twitter.image}}' /> --}}

	<!-- Style -->
	<!-- tab icon -->
	<link rel="icon" type="image/x-icon" href="/images/logo.png">

	<!-- style sheets -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<header>
		{{> navbar}}
	</header>

	<main>
		{{#render page "landing"}}
			{{> landing}}

			{{> listing}}
		{{/render}}

		{{#render page "project"}}
			{{> project}}
		{{/render}}
	</main>
	
	<footer>
		{{> footer}}
	</footer>

</body>



</html>